In [1]:
import numpy as np
import pandas as pd

In [26]:
path = 'C:\\Users\\lokes\\OneDrive\\Desktop\\ADM\\NLP Data'

In [27]:
df1 = pd.read_csv(f'{path}\\Group1.csv')

In [28]:
df1.head(5)

                                              Review Label
0  The staff is very attentive to all needs. From...     R
1  Best hotel in Vancouver for price range. Most ...     R
2  I cant say enough good things about this estab...     R
3  Best hotel we’ve ever been to the staff are so...     R
4  It is a nice hotel, but nothing special. I do ...     R

In [29]:
df2 = pd.read_csv(f'{path}\\Group2.csv')

In [30]:
df3 = pd.read_csv(f'{path}\\Group3.csv')

In [31]:
df4 = pd.read_csv(f'{path}\\Group4.csv')

In [32]:
df5 = pd.read_csv(f'{path}\\Group5.csv')

In [33]:
df6 = pd.read_csv(f'{path}\\Group6.csv')

In [34]:
df7 = pd.read_csv(f'{path}\\Group7.csv')

In [35]:
df9 = pd.read_csv(f'{path}\\Group9.csv')

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  70 non-null     object
 1   Label   70 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [57]:
df12 = df1.append(df2)

In [58]:
df12.shape

(95, 2)

In [59]:
df12.tail(10)

                                               Review Label
15  World of Books did an oustanding job. The book...     R
16  Terrible quality for a high priced item. Took ...     R
17  Very pleased with our settees. Very helpful al...     R
18  This is a great and best website to use. I am ...     R
19  Lovely door knobs. Beautifully wrapped and spe...     R
20  The product was great, the quality was good, f...     F
21                          Little bit small and long     F
22  I love this top. I am obssesed with the colour...     F
23                  Ordered both colours, I love them     F
24  l Love this beanie so much, it sags just right...     F

In [60]:
df13 = df12.append(df3)

In [61]:
df13.shape

(182, 2)

In [62]:
df14 = df13.append(df4)

In [63]:
df14.shape

(196, 2)

In [64]:
df15 = df14.append(df5)

In [65]:
df15.shape

(223, 2)

In [69]:
df17 = df15.append(df7)

In [70]:
df17.shape

(278, 2)

In [71]:
df19 = df17.append(df9)

In [72]:
df19.shape

(349, 2)

In [77]:
df19.head(5)

                                              Review Label
0  The staff is very attentive to all needs. From...     R
1  Best hotel in Vancouver for price range. Most ...     R
2  I cant say enough good things about this estab...     R
3  Best hotel we’ve ever been to the staff are so...     R
4  It is a nice hotel, but nothing special. I do ...     R

In [78]:
df_final = df19.append(df6)

In [79]:
df_final.shape

(408, 3)

In [92]:
df_final.tail(5)

   Review Label                                            Review
54    NaN     F  We were very pleasantly accommodated. Location...
55    NaN     F  The room was very clean and spacious. Easy to ...
56    NaN     F  Super location, great staff and very nice faci...
57    NaN     F  What a wonderful stay! I had to make a last mi...
58    NaN     F  New hotel, very nice. Walk to restaurants. Enj...

In [94]:
df_final.to_csv (r'C:\\Users\\lokes\\OneDrive\\Desktop\\ADM\\NLP Data\\export_dataframe.csv', index = None, header=True)